html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: outline 1s ease;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  font-family: 'Inter Medium', sans-serif;
  color: var(--fonts-primary, #25213b);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background: var(--backgrounds-parent, #f2f0f9);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

tr,
td {
  padding: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.button {
  cursor: pointer;
  transition: background-color 0.25s 0.05s ease, border-color 0.5s ease;
  border: none;
}

.input {
  border: none;
}

.page {
  padding: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

.container--page {
  background: var(--backgrounds-primary, #fff);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  border-radius: 6px;
}

.heading {
  display: inline;
  color: var(--fonts-primary-variant, #6e6893);
  font-family: 'Inter Bold', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
