.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal--product {
  display: none;
  z-index: 11;
  left: 30%;
  position: absolute;
  background: var(--backgrounds-parent, #f2f0f9);
  padding: 30px 100px;
}

.modal--error {
  display: none;
  z-index: 12;
  position: absolute;
  left: 40%;
  top: 200px;
  background: var(--backgrounds-parent, #f2f0f9);

  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 350px;
}

.modal__close {
  position: absolute;
  border: none;
  background-image: url('../assets/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 20px;
  right: 30px;
  width: 20px;
  height: 20px;
}

.error-text {
  color: var(--fonts-primary-variant, #6e6893);
  font-family: 'Inter Bold';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  word-break: break-all;
  padding: 0 10px;
}

.overlay--visible {
  display: block;
}

.modal--visible {
  display: block;
}

.container--modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
}

.summary__text {
  padding-right: 5px;
}

.modal--error .container {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-items: center;
  row-gap: 30px;
  height: 100%;
}
