:root {
  --primary: #6D5BD0;
  --backgrounds-primary: #FFF;
  --backgrounds-parent: #F2F0F9;
  --backgrounds-stripe: #F4F2FF;
  --fonts-primary: #25213B;
  --fonts-primary-variant: #6E6893;
  --fonts-stroke: #C6C2DE;
  --table-separator: #D9D5EC;
}